*  {
    margin: 0;
    padding: 0;
}
body {
    background-color: khaki;
    
}

.cards {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif
    
}
.card {
    width: 30%;
    background-color: floralwhite;
    margin: 10px;
    border-color: olivedrab;
    border-radius: 3px;
    border-style: solid;
   
    
   
  }

.card img {
    display: block;
    margin: auto;
    width: 50%;
    height: 30%;
  
}

.card:hover {
    box-shadow: 5px 10px;

}
.card h2 {
    display: flex;
    justify-content: center;
    border: 1px solid lightblue;
}

.card p1 {
    text-align: justify;
}

.card h3 {
    background-color: darkgrey;
    color: yellow;
        
    
}

header{
    font-weight: bold;
}
